{% extends 'form.html' %}

{% block title %}Add a Pet{% endblock %}

{% block formTitle %}Add a Pet{% endblock %}

{% block formFields %}
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.name.label }}
        {{ form.name(class_='form-control') }}
    </div>
    <div class="form-group">
        {{ form.species.label }}
        {{ form.species(class_='form-control') }}
    </div>
    <div class="form-group">
        {{ form.photo_url.label }}
        {{ form.photo_url(class_='form-control') }}
    </div>
    <div class="form-group">
        {{ form.age.label }}
        {{ form.age(class_='form-control') }}
    </div>
    <div class="form-group">
        {{ form.notes.label }}
        {{ form.notes(class_='form-control') }}
    </div>
    <div class="form-group checkbox">
        {{ form.available.label }}
        {{ form.available }}
    </div>
{% endblock %}

{% block formBttn %}
<button class="btn btn-primary"
    formaction="/add">Submit</button>
{% endblock %}