{% extends 'form.html' %}

{% block title %}Edit {{pet.name}}{% endblock %}

{% block otherContent %}
<div class="petDetails col-md-6 container justify-content-center">
    <h1>{{pet.name}}</h1>
    {% if pet.photo_url %}
    <img src="{{pet.photo_url}}" alt="">
    {% endif %}
    <ul>
        <li class="">{{pet.species.title() }}</li>
        {% if pet.age %}
        <li>{{pet.age}} years old</li>
        {% endif %}
    </ul>
    
</div>
{% endblock %}

{% block formTitle %}Edit {{pet.name}}{% endblock %}

{% block formFields %}
{{ form.hidden_tag() }}
<div class="form-group">
    {{ form.photo_url.label }}
    {{ form.photo_url(class_='form-control') }}
</div>
<div class="form-group">
    {{ form.notes.label }}
    {{ form.notes(class_='form-control') }}
</div>
<div class="form-group checkbox">
    {{ form.available.label }}
    {{ form.available }}
</div>
{% endblock formFields %}

{% block formBttn %}
<button class="btn btn-primary"
    formaction="/{{pet.id}}">Submit</button>
{% endblock %}