{% extends 'form.html' %}

{% block title %}Edit {{pet.name}}{% endblock %}

{% block otherContent %}
<div class="container justify-content-center ">
    <div class="container petDetails col-md-6 justify-content-center">
        <h1 class="text-center">{{pet.name}}</h1>
        {% if pet.photo_url %}
        <img src="{{pet.photo_url}}" alt="">
        {% endif %}
        <ul>
            <li class="">{{pet.species.title() }}</li>
            {% if pet.age %}
            <li>{{pet.age}} years old</li>
            {% endif %}
            {% if pet.notes %}
            <li>{{pet.notes}}</li>
            {% endif %}
        </ul>
        
    </div>
</div>
{% endblock %}

{% block formTitle %}Edit {{pet.name}}{% endblock %}

{% block formFields %}
{{ form.hidden_tag() }}
<div class="form-group">
    {{ form.photo_url.label }}
    {{ form.photo_url(class_='form-control') }}
    {% for err in form.errors['photo_url'] %}
        <p class="text-danger small">{{err}}</p>
        {% endfor %}
</div>
<div class="form-group">
    {{ form.notes.label }}
    {{ form.notes(class_='form-control') }}
    {% for err in form.errors['notes'] %}
        <p class="text-danger small">{{err}}</p>
        {% endfor %}
</div>
<div class="form-group checkbox">
    {{ form.available.label }}
    {{ form.available }}
    {% for err in form.errors['available'] %}
        <p class="text-danger small">{{err}}</p>
        {% endfor %}
</div>
{% endblock formFields %}

{% block formBttn %}
<button class="btn btn-primary"
    formaction="/{{pet.id}}">Submit</button>
<button class="btn btn-success"
    formaction="/" formmethod="GET">Home</button>

{% for msg in get_flashed_messages() %}
<p>{{msg}}</p>
{% endfor %}
{% endblock %}
