{% extends 'base.html' %}

{% block title %}Pets{% endblock %}

{% block content %}
    <div class="container justify-content-center">
        <h1>Pets</h1>
        <div id="petsDisplay" class="row">
        {% for pet in pets %}
                <div id="petDisplay" class="col-md-4">
                    {% if pet.photo_url %}
                    <img src="{{pet.photo_url}}" alt="">
                    {% endif %}
                    {% if pet.available %}
                    <p class="isAvailable"><a href="/{{pet.id}}">{{pet.name}}</a><b> is available!</b></p>
                    {% else %}
                    <p class="isntAvailable"><a href="/{{pet.id}}">{{pet.name}}</a> isn't available.</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <form action="/add" method="get">
            <button class="btn btn-primary">Add a Pet</button>
        </form>
    </div>
{% endblock %}