/* General Styles */

 .flex {
    /* display: flex; */
}

/* Pet Display */

.isAvailable a {
    font-weight: bolder;
}

/* New Pet Form */

#newPetForm {
    width: 50%;
}

.form-group {
    width: 20%;
}